<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HisoutenSupportTools.AddressUpdater.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HisoutenSupportTools.AddressUpdater.Lib.Properties.Settings>
            <setting name="AddressUpdaterLib_AddressService_AddressService"
                serializeAs="String">
                <value>http://localhost:8080/HisoutenAddressService/AddressService</value>
            </setting>
            <setting name="AddressUpdaterLib_VersionCheckService_VersionCheckService"
                serializeAs="String">
                <value>http://www.bngper.mydns.jp:80/HisoutenAddressServiceVersionCheck/VersionCheckService</value>
            </setting>
        </HisoutenSupportTools.AddressUpdater.Lib.Properties.Settings>
    </applicationSettings>
</configuration>